.Register{
 display: grid;
 gap:10px;
 border: 3px solid pink;

}
.RegisterInput{
    margin: 5px;
    width: 300px;
    height: 20px;
}

.RegisterButton{
    margin: 5px;
    width: 300px;
    height: 30px;
    background-color: rgb(241, 94, 119);
}

.Login{
    display: grid;
    gap:10px;
    border: 3px solid pink;
}

.LoginInput{
    margin:10px;
    width: 300px;
    height: 20px;

}

.LoginButton{
    margin:10px;
        width: 300px;
        height: 30px;
        background-color: rgb(241, 94, 119);
    }  

    .trueRegiste{
        border: 2px solid green;
        margin:8px;
        width: 300px;
        height:40px;
        background-color: rgb(130, 240, 126);
        
    }

    .falseRegiste{
        border: 3px solid red;
        margin:8px;
        width: 300px;
        height:40px;
        background-color: rgb(240, 139, 126);
    }

    .Navigation{
        border: 3px solid red;
       padding: 3px;
        margin: 3px;
    }

    .App{
        border: 3px solid rgb(150, 5, 145);
        padding: 3px;
        margin: 3px;
    
    }
    .DeshboardButton{
        margin:10px;
        width: 150px;
        height: 40px;
        font-size: 12px;
        font-weight: bold;
        background-color: rgb(241, 94, 119);
    }

    .Deshboard{
        display: grid;
        gap:10px;
        border: 3px solid pink;
    }

    .newArticleInput{
        margin: 5px;
        width: 300px;
        height: 30px;
    }
    
    .newArticleInput_1{
        margin: 5px;
        width: 300px;
        height: 100px;
    }

    .newArticleButton{
        margin:5px;
        width: 300px;
        height: 30px;
        background-color: rgb(241, 94, 119);
    
    }
    