.Register{
 display: grid;
 gap:10px;
 border: 3px solid pink;

}
.RegisterInput{
    margin: 5px;
    width: 300px;
    height: 20px;
}

.RegisterButton{
    margin: 5px;
    width: 300px;
    height: 30px;
    background-color: rgb(241, 94, 119);
}

.Login{
    display: grid;
    gap:10px;
    border: 3px solid pink;
}

.LoginInput{
    margin:10px;
    width: 300px;
    height: 20px;

}

.LoginButton{
    margin:10px;
        width: 300px;
        height: 30px;
        background-color: rgb(241, 94, 119);
    }  

    .trueRegiste{
        border: 2px solid green;
        margin:8px;
        width: 300px;
        height:40px;
        background-color: rgb(130, 240, 126);
        
    }

    .falseRegiste{
        border: 3px solid red;
        margin:8px;
        width: 300px;
        height:40px;
        background-color: rgb(240, 139, 126);
    }